body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #64a7e9;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card-body {
    padding: 2rem;
  }
  .btn-primary,
  .btn-success {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
  }
